.idea
/matchlog
/data/um
fastlog
/fastlog-download
TrackmaniaServer
playerlist.txt
teamlist.txt
votes.xml.txt

admin.tmu.BlackCatTest.xml.txt

FAST3 start.bat

msf4a.d1.-1.m-1.teamlist.txt

store.tmu.BlackCatTest.fast

um.d1.-1.m-1.teamlist.txt

lapstest.d1.-1.m-1.teamlist.txt
